# Autotools
autom4te.cache/

# Build Directories
Build/
/Bootstrap*/
/Build*/
/Debug*/
/Release*/

# Cscope
cscope.files
cscope.out

# Direnv
.envrc

# Emacs
*~
.dir-locals-2.el
.dir-locals.el
\#*
TAGS

# Git
/.archive/
/=*/

# Mypy
.mypy_cache/
