# Git worktrees.
/.archive/
/=*/

# Developer tools.
*.swp
*~
.dir-locals.el
\#*
cscope.files
cscope.out
TAGS

# VPATH builds.
/build-*/
/build/
/debug/
/release/

# Autotools.
/autom4te.cache/

# Environment files (direnv).
.envrc
