[Unit]
Description=Create periodic Btrfs snapshots

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'btrfs subvolume snapshot -r /home/eush /home/eush_$(date --iso-8601)'
