;; User keymap
;; -----------------------------
;; Keymaps are stored as a set of diffs that are merged together to create
;; the final set of keys. You can modify these diffs to either add or
;; subtract bindings.
;;
;; Like behaviors, keys are bound by tag. When objects with those tags are active
;; the key bindings are live. Keys can be bound to any number of Light Table commands,
;; allowing you the flexibility to execute multiple operations together. To see a list
;; of all the commands you can execute, start typing a word related to the thing you
;; want to do in between the square brackets (e.g. type "editor").

{:+ {:app {"ctrl-alt-w" [:workspace.show]
           "alt-w" [:lt.plugins.workspace-nav/focus]
           "ctrl-alt-c" [:toggle-console]
           "ctrl-t" [:new-file]
           "ctrl-=" [:window.zoom-in],
           "ctrl-0" [:window.zoom-reset]}

     :workspace.focused {"alt-w" [:focus-last-editor]
                         "esc" [:focus-last-editor]}

     :tabs {"ctrl-pageup" [:tabs.prev]
            "ctrl-pagedown" [:tabs.next]}

     :editor {"ctrl-m" [:clear-inline-results]
              "ctrl-n" [:goto-line]
              "ctrl-shift-c" [:toggle-comment-selection]
              "ctrl-shift-0" [:editor.sublime.singleSelectionTop]
              "ctrl-shift-up" [:editor.sublime.selectLinesUpward]
              "ctrl-shift-down" [:editor.sublime.selectLinesDownward]}}

 :- {:editor {"ctrl-=" [:editor.fold-code]}
     :editor.keys.normal {"\"" [(:editor.repeat-pair "\"")]
                          "(" [(:editor.open-pair "(")]
                          "[" [(:editor.open-pair "[")]
                          "{" [(:editor.open-pair "{")]}}}
